/* Fades */
.slow-fade-in {
    animation-name: fade-in;
    animation-duration: 2000ms;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1000ms;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 50ms;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade {
    animation: fade 7s;
    animation-iteration-count: infinite;
}

.fade:hover {
    font-size: 50px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.gradient {
    -webkit-animation: GradientFade 25s ease infinite;
    -moz-animation: GradientFade 25s ease infinite;
    -o-animation: GradientFade 25s ease infinite;
    animation: GradientFade 25s ease infinite;
}

@keyframes GradientFade {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-webkit-keyframes GradientFade {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-moz-keyframes GradientFade {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-o-keyframes GradientFade {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@keyframes GradientFade {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}