@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-white font-cascadia;
  }
}

@layer components {
  .section-title {
    @apply text-4xl font-bold text-gray-900 capitalize tracking-wide;
  }
  .project-card {
    @apply rounded-lg shadow-md p-8 hover:shadow-xl transition-all duration-300 border;
  }
  .nav-link {
    @apply block px-4 py-2 text-gray-600 transition-all duration-200 
           relative hover:text-black capitalize tracking-wide text-sm font-medium;
  }
  .nav-link::after {
    @apply content-[''] absolute bottom-0 left-4 right-4 h-0.5 bg-current scale-x-0 transition-transform duration-200 origin-left;
  }
  .nav-link:hover::after {
    @apply scale-x-100;
  }
  .nav-link.active {
    @apply text-black;
  }
  .nav-link.active::after {
    @apply scale-x-100;
  }
}

/* Hide all scrollbars */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
